<!DOCTYPE html>
<html>
    <head>
        <title>
            Category list
        </title>
    </head>
    <body>
        <table border="1">
            <th>Name</th>
            <th>descrption</th>
            <th>Action</th>
            {% for cat in categories %}
            <tr>
               <td>{{ cat.name|e }}</td>
               <td>{{ cat.description|e }}</td>
               <td><a href="update_cat.php?id={{ cat.id }}">Update</a> | <a href="delete_cat.php?id={{cat.id}}">Delete</a></td>
           </tr>
            {% endfor %}
             
        </table>
    </body>
</html>

